#calendar {
    width: 210px;
    background-color: #e0ecf9;
    border: 1px solid #479ac7;
    float: left;
}

#calendar span {
    float: left;
    width: 210px;
    height: 20px;
    background-color: #479ac7;
    color: #f90;
    font-weight: bolder;
    text-align: center;
}

#calendar .week {
    background-color: #d5f3f4;
    color: #808080;
}

#calendar .current {
    background-color: #336699;
    color: #fff;
}

#calendar a {
    display: block;
    float: left;
    width: 30px;
    height: 20px;
    color: #000;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}

#calendar .ybn {
    color: #000;
}

#calendar .mbn {
    color: #000040;
}

#calendar .weekend {
    color: #f00 !important;
}

#calendar a.day:hover {
    background-color: #99c3f6;
}

#calendar tt {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}