#z_calendar {
    width: 235px;
    background-color: #e0ecf9;
    border: 1px solid #479ac7;
    float: left;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 2px #479ac7;
}

#z_calendar span {
    float: left;
    width: 235px;
    height: 20px;
    background-color: #479ac7;
    color: #f90;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#z_calendar .week {
    color: #808080;
}

#z_calendar .current {
    background-color: #336699;
    color: #fff;
}

#z_calendar a {
    display: block;
    float: left;
    width: 30px;
    height: 20px;
    color: #000;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 4px 0.5px;
    margin: 1px;
}

#z_calendar .ybn {
    color: #000;
}

#z_calendar .mbn {
    color: #000040;
}

#z_calendar .weekend {
    color: #f00 !important;
}

#z_calendar a.day {
    border-radius: 100%;
}

#z_calendar a.day:hover {
    background-color: #99c3f6;
}

#z_calendar tt {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}