.z-calendar {
    width: 235px;
    background-color: #e0ecf9;
    border: 1px solid #479ac7;
    float: left;
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
    -webkit-border-radius: 5px;
             border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #479ac7;
             box-shadow: 0 0 2px #479ac7;
}

.z-calendar span {
    float: left;
    width: 235px;
    height: 20px;
    background-color: #479ac7;
    color: #f90;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.z-calendar .week {
    color: #808080;
}

.z-calendar .weekend {
    color: #f00 !important;
}

.z-calendar .current {
    background-color: #336699;
    color: #fff;
}

.z-calendar a {
    display: block;
    float: left;
    width: 30px;
    height: 20px;
    color: #000;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    padding: 4px 0.5px;
    margin: 1px;
}

.z-calendar .year-btn {
      color: #000;
      margin-left: 22px;
      margin-right: 22px;
}

.z-calendar .year-btn:hover {
    color: #fff;
}

.z-calendar .month-btn {
    color: #000040;
}

.z-calendar .month-btn:hover {
    color: #fff;
}

.z-calendar a.day {
    border-radius: 100%;
}

.z-calendar a.day:hover {
    background-color: #99c3f6;
}

.z-calendar tt {
    cursor: pointer;
    font-weight: bold;
}
